.job-listing-container {    
    color: rgb(0, 0, 0);
}

.job-header .company-logo{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.job-header .job-title h2{
    font-size: 25px !important;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-bottom: 0 !important;
}

.job-header .job-company{
    font-size: 14px !important;
    color: rgb(0, 0, 0);
    margin-bottom: 0 !important;
}

.job-header .job-date{
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0 !important;
}

.job-detail{
    padding-top: 30px;
    padding-bottom: 30px;    
	text-align: left;
    font-weight: 400;
    font-size: 17px !important;
}

.info-box{
    padding-left: auto;
    padding-right: auto;
}

.info-box .at-icon-box-icon{
background-color: #fff4ee;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.info-box .at-icon-box-icon svg,
.info-box .at-icon-box-icon i{
    width: 20px;
    height: 20px;    
    font-size: 20px !important;
    color: #AC6C47;
    fill: #AC6C47;
}

.info-box .at-icon-text{
    margin: 0 12px;
}

.info-box .at-icon-text .box-title{
    font-size: 13px !important;
    line-height: 1.5;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-bottom: 0 !important;
}

.info-box .at-icon-text .box-description{
    font-size: 15px !important;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    margin-bottom: 0px !important;
}


@media (min-width: 768px){
    .col-md-3 {
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}